<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enovateme.enovateme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartWorkshop"></activity>
        <activity android:name=".Consultant_Profile" />
        <activity android:name=".SearchWorkshop" />
        <activity android:name=".Talks" />
        <activity android:name=".ShakeDetector" />
        <activity android:name=".HomePage" />
        <activity
            android:name=".EditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CompleteIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullScreenImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IssueWiseInfozine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GenreWiseBook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddArticle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartEarning"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Workshop_Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Workshop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Collaboration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Want_Consultancy"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Want_To_Be_Consultant"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Consultancy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Top10"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Video_Player"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Youtube"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThinkOut"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Books"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HireAUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HierRequst"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HireMe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewInfozine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Infozine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Comment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Your_Idea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fieldwise_framwork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frameworks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Framowork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tpis_Detailed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile_Edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Introduction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".FireIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".FireBaseMsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5683921349624168~1995125919" />
    </application>

</manifest>